{% extends 'layout.twig' %}

{% block content %}
	
	<section id="results">
		<h2>Results ({{ results|length }})</h2>
		
		{% for result in results %}
			<div class="result">
				<img src="{{ result.0.image_url }}">
				<h3>{{ result.0.brand_title }}</h3>
				<p>{{ result.0.masterbrand_title }}</p>
				
				<table>
					{% for episode in result %}
						<tr>
							<td>{{ episode.complete_title }}</td>
							<td>{{ episode.synopsis }}</td>
						</tr>
					{% endfor %}
				</table>
				
			</div>
		{% else %}
			<p>No Results to display</p>
		{% endfor %}
		
	</section>
	
{% endblock %}